<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<style>
.salaryred{
	color: red;
}
.salarybold{
	font-weight: bold;
}
.input{
	width:400px
	}
</style>
<script>
function gopage(p){
	frmSearch.page.value = p;
	frmSearch.submit();
	//location.href= 'empList?page=' + p
}
function init(){
	frmSearch.departmentId.value=""
	frmSearch.firstName.value=""
	frmSearch.managerId.value=""
}	
</script>
</head>
<body>
<h1>사원 목록</h1>
<!--/* 머스태쉬 구문은 주석안에써도 컴파일하기때문에 [[${}]]있으면 이렇게 주석*/-->
<!--전체건수 : [[${#lists.size(empList)}]]  <br>  -->

전체건수 : <span th:text="${#lists.size(empList)}"></span>
<br>
<form name="frmSearch" th:object="${empVO}" action="emplist">
		<input type="hidden" name="page">
		<select name="department_id" th:value="*{department_id}">
			<option value="">선택
			<option value="10" th:selected="*{department_id}=='10'">Administration
			<option value="20" th:selected="*{department_id}=='20'">	Marketing
			<option value="50" th:selected="*{department_id}=='50'">	Shipping
			<option value="60" th:selected="*{department_id}=='60'">	IT
			<option value="80" th:selected="*{department_id}=='80'">	Sales
			<option value="90" th:selected="*{department_id}=='90'">	Executive
			<option value="110" th:selected="*{department_id}=='110'">Accounting
		</select>	
		firstName<input name="first_name" th:value="*{first_name}">
		<!--ManagerId<input name="managerId" th:value="*{manager_id}">  -->
		<button type="button" onclick="gopage(1)">검색</button>
		<button type="button" onclick="init()">초기화</button>
	</form>
<table class="table table-striped table-bordered"	>
 <tr>
 <th>no</th>
 <th>employee_id</th>
 <th>first_name</th>
 <th>last_name</th>
 <th>salary</th>
  <th>hire_date</th>
  <th>button</th>
 </tr>
<tr th:each="emp : ${empList}">
<td th:text="${empStat.index+1}"></td>
 <td th:text="${emp.employee_id}"></td>
 <td ><a th:href="@{/emp(employee_id=${emp.employee_id})}" th:text="${emp.first_name}"></a></td>
 <!-- 원래는 '/emp?employe~~' + 로 써야하지만 백팁대신 ||로 처리/ 파라미터값 계속 길어지는게 불편해서 @로 처리 -->
 <td th:text="${emp.last_name}"></td>
 <td th:text="${#numbers.formatCurrency(emp.salary)}"
 	th:class="salarybold" 
 	th:classappend="${emp.salary>10000 ? 'salaryred' : ''}">
 	[[${emp.salary}]]<button th:if="${emp.salary < 10000}">신청</button></td>
 <td th:text="${#dates.format(emp.hire_date,'yyyy-MM-dd')}"></td>
 </tr>
</table>
	<nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item" th:if="${paging.startPage} > 1 ">
	        <a class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

	    <li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}" 
	        class="page-item" 
	        th:addclass="${num} == ${paging.page} ? active">
	        <a class="page-link" th:href="|javascript:gopage(${num})|"  th:text="${num}">2</a></li>
	    
	    <li class="page-item" th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">Next</a></li>
	  </ul>	
	</nav>	
</body>
</html>
